* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #EEFF41;
    -webkit-font-smoothing: antialiased;
} 

#unmute-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

ol {
    margin: 0;
}

.logo {
    position: absolute;
    font-family: "Inter", sans-serif;
    color: rgba(4,21,63, 1);
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    padding: 24px 0;
    line-height: 1;
}
