.container {
    display: flex;
    overflow-y: scroll;
    scroll-snap-type: x proximity;
    padding-left: calc(50vw - 70px);
    padding-right: calc(50vw - 70px);
}

.listItem {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    color: #04153F;
}
